* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-image: url('../static/image/b8.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    /* width: 100%; */
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 120vh;
}

.box {
    position: relative;
    width: 550px;
    height: 950px;
    border: 2px solid rgba(255, 255, 255, .3);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box h1 {
    color: #fff;
    text-align: center;
    font-size: 35px;
}

.box .div {
    position: relative;
    margin: 30px 0;
    width: 450px;
    border-bottom: 2px solid rgba(0, 0, 0, .3);

}

.box .div input,
select {
    width: 100%;
    height: 45px;
    background: transparent;
    border: none;
    outline: none;
    padding: 0 20px 0 5px;
    font-size: 16px;
}

input::placeholder {
    color: black;
}

.btn {
    width: 50%;
    height: 45px;
    border-radius: 50px;
    outline: none;
    border: none;
    font-size: 17px;
    cursor: pointer;
    box-shadow: 3px 0 10px rgba(0, 0, 0, .8);
}

.btn:hover {
    background-color: lightskyblue;
}

/* .box .div label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-weight: 500;
    pointer-events: none;
}

.box .div input:focus~label,
.box .div input:valid~label {
    top: -50px;
} */